[Desktop Entry]
Name=FCEUX NES Emulator
Comment=Play Nintendo ROM files
Exec=fceux
Terminal=false
Type=Application
StartupNotify=true
Icon=fceux
Categories=Game;Emulator;
